.select {
  color: #122620;
  font-weight: 600;
  border-radius: 10px;
  width: 130px;
  justify-content: center;
  align-items: center;
  background-color: #d6ad60;
  cursor: pointer;
}
.label {
  font-weight: 600;
  margin: 20px;

}

