.container {
  border: 3px solid #122620;
  background-color: #b68d40;
  width: 280px;
  height: 400px;
  display: inline-block;
  
  margin-top: 25px;
}
.p {
  text-transform: uppercase;
  background-color: #122620;
  color: #d6ad60;
}
.name {
  text-transform: uppercase;
  background-color: #122620;
  color: #d6ad60;
}
.container img {
  max-width: 100%;
}
.image{
  filter: drop-shadow(10px 5px 8px);
}

