.container {
  border: 2px solid #122620;
  background-color: #b68d40;
  width: 280px;
  display: inline-block;
  
  margin-top: 25px;
}
.p {
  text-transform: uppercase;
  background-color: #122620;
  color: #d6ad60;
}
.container img {
  max-width: 100%;
}
