.about {
  margin-top: 25px;
  font-size: large;
  font-weight: 500;
  padding: 10px;
  background-color: #b68d40;
  margin-left: 22%;
  width: 800px;
  color: #122620;
  border: 3px solid #122620;
}
.redes {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
