.bigcontainer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #b68d40;
  height: 40px;
  width: 500px;
  background-color: #122620;
  border-radius: 10px;

}
.button {
  cursor: pointer;
  border: 1px solid #d6ad60;
  background-color: #122620;
  color: #d6ad60;
  margin: 7px;
}
.button:focus {
  border: 1px solid #b68d40;
  color: #122620;
  background-color: #d6ad60;
}
.button:hover{
  
  background-color: #d6ad60;
  color: #122620;
  transition: all 0.2s ease-in-out;
}
