.generalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  height: fit-content;
  border: 3px solid #122620;
  width: 330px;
  display: flex;
  flex-direction: column;
  background-color: #b68d40;
}
.dataContainer {
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
}
.campo {
  margin-top: 7px;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #d6ad60;
  background-color: #122620;
  padding-bottom: 10px;
}

.titulo {
  width: 330px;
  border: 3px solid #122620;
  background-color: #b68d40;
}
.button {
  margin-top: 7px;
  text-transform: uppercase;
  color: #d6ad60;
  background-color: #122620;
  cursor: pointer;
}
.button:hover {
  background-color: #d6ad60;
  color: #122620;
}
.viewPokemonBtn {
  position: fixed;
  top: 100px;
  left: 700px;
}

.campoid {
  display: none;
}
.listContainer {
  position: absolute;
  top: 280px;
  left: 900px;
  height: 400px;
  width: 400px;
  background-color: #122620;
}

.title {
  color: #d6ad60;
}
.list {
  text-transform: capitalize;
  text-align: center;
  background-color: #b68d40;
  column-count: 2;
  height: 100%;
  width: 100%;
}
.infoBtn {
  cursor: pointer;
  color: #d6ad60;
  background-color: #122620;
}
.infoBtn:hover {
  background-color: #d6ad60;
  color: #122620;
  transition: all 0.2s ease-in-out;
}
